.signup-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../images/signupbackg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

    .signup-container{
        height: 60vh;
        background-color: #36096d;
        background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
        border-radius: 50%;
        // min-width: max-content;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__heading{
            margin-bottom: 1.2rem;
            border-bottom: 0.1rem solid black;
        }

        &__fillups{
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            // background-color: cyan;

            input,select{
                border-radius: 4px;
                border: none;
                font-size: 1rem;
                padding-left: 0.3rem;
            }

            &--username{
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                label{
                    font-size: 1.4rem;
                }
                
            }
            &--plan{
                padding-top: 0.3rem;
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                label{
                    font-size: 1.4rem;
                }

                select{
                    
                    font-size: 1.2rem;
                    
                }
                
            }

            &--password{
                padding-top: 0.3rem;
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                label{
                    font-size: 1.4rem;
                }
                
            }

            &--submit{
                height: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0.6rem 0;

                button{
                    padding: 0.4rem 0.6rem;
                    font-size: 1rem;
                    border-radius: 5px;
                    background-color: #06bcfb;
                    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
                    cursor: pointer;
                    // border: none;
                }
                
            }

        }
    }
}