.DUContainer{
 height: 100vh;   
 width: 100vw;
 display: grid;
 grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66rem) [col-end]) [center-end] 1fr [container-end];
 grid-template-rows: 14vh 86vh;   
}

.DNav{
    grid-column: container-start / container-end;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--mainItems{
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo{
            padding-left: 1.5rem;
            height: 75%;
            width:12%;
            background-image: url('./../images/logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }


        &__links{
            height: 100%;
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            a{
                color: rgb(72, 47, 214);
                font-size: 1.5rem;
                font-weight:600;
                padding: 1rem;
                position: relative;
            }

            a::before{
                content: '';
                position: absolute;
                width: 0.2rem;
                height: 40%;
                background-color: rgb(22, 173, 65);
                top: 0;
                left: 0;
                transition: all 0.4s ease-in-out;

            }

            a::after{
                content: '';
                position: absolute;
                width: 0.2rem;
                height: 40%;
                background-color: rgb(22, 173, 65);
                bottom: 0;
                right: 0;
                transition: all 0.4s ease-in-out;

            }

            a:hover::before,
            a:hover::after
            {
                height: 100%;
                background-color:rgb(59, 152, 185);
                transition: all 0.4s ease-in-out;
            }

        }
    }

    &--profile{
        padding-right: 1.5rem;
        height: 75%;
        width: 8%;
        background: url('./../images/avatarIcon.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
    }

}

.DUBody{
    grid-column: container-start / container-end;
    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;

    &--mainContainer{
        height: 70%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__file{
            // opacity:0;
            height: 10rem;
            width: 10rem;
            // background: url('./../images/plusIcon.svg');
            position: relative;
            border-radius: 4.5rem;
            cursor: pointer;
        }

        &__file::after{
            position: absolute;
            content: '';
            left: 0;
            top:0;
            // background-color: white;
            background: url('./../images/plusIcon.svg'),white;
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // opacity: 1;
        }

        &__fileName{
            font-size: 1rem;
            padding-left: 0.3rem;
            border-radius: 0.4rem;
        }

        button{
            font-size: 1.2rem;
            padding: 0.2rem;
            border-radius: 0.3rem;
            cursor: pointer;
        }



    }

}
