*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: [top-start] 10vh [home-start] 90vh [home-end] repeat(3, [row-start] min-content [row-end]);
  overflow: hidden;
}

.heading {
  grid-column: container-start / container-end;
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem #73b355 solid;
}

.heading__links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading__links .heading__link {
  background-color: cadetblue;
  padding: 0.4rem 0.2rem;
  font-size: calc(0.8rem + 1vw);
  margin: 0.5rem 0;
  color: black;
  border-radius: 0.2rem;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.heading__links .heading__link:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}

.home {
  grid-column: container-start / container-end;
  background-color: aquamarine;
  position: relative;
}

.home__video {
  height: 100%;
  width: 100%;
  background-position: center;
  object-fit: cover;
}

.home__overlay {
  background: linear-gradient(#8f8da8 0%, #7878c5 55%, #759da6 88%);
  opacity: 40%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.services {
  grid-column: container-start / container-end;
  min-height: 30rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(241, 192, 185, 0.6) 0%, rgba(136, 202, 94, 0.6) 49%, rgba(210, 251, 164, 0.6) 100%), url("./../images/welcomePage/DataCenter.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  position: relative;
}

.services__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services__textField {
  width: 40%;
  min-width: min-content;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: calc(1rem + 4.5vh);
  transform: translateY(5rem);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  color: #16324b;
  background: linear-gradient(to right, #00b4db, #0083b0);
  font-weight: 700;
  padding: 0 0.18rem;
  border-radius: 0.6rem;
}

.services .textField-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 2.5s ease-in-out;
}

.services__button {
  margin-top: calc(0.8rem + 3vw);
  padding: 0.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  transition: all 0.3s ease-out;
  border: none;
  background-color: #42cfc1;
  transform: translateY(5rem);
  font-size: 1.2rem;
  border-radius: 0.2rem;
  opacity: 0;
}

.services__button a {
  color: #193248;
}

.services__button:hover {
  animation: grow 1.4s infinite;
}

.services .services__btn-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 3s ease-in-out;
}

.services__plans-container {
  display: flex;
  width: 40%;
  padding: calc(0.8rem + 1vw);
  justify-content: center;
  transform: translateX(-5rem);
  opacity: 0;
}

.services__plans-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(31, 145, 211, 0.4), rgba(31, 145, 211, 0.4));
  margin-right: calc(1rem + 3vw);
  min-width: min-content;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.services__plans-container-1 h2 {
  margin-top: calc(0.8rem + 0.6vw);
  text-align: center;
}

.services__plans-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(31, 145, 211, 0.4), rgba(31, 145, 211, 0.4));
  margin-left: calc(1rem + 3vw);
  min-width: calc(3rem + 6vw);
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.services__plans-container-2 h2 {
  margin-top: calc(0.8rem + 0.6vw);
  text-align: center;
}

.services__plans-container-1::before, .services__plans-container-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 0.12rem;
  width: 100%;
  background: linear-gradient(90deg, #1e2218 0%, #4c5446 49%, #052f26 100%);
  animation: moveright 1.8s infinite;
  z-index: 2;
}

.services__plans-container-1::after, .services__plans-container-2::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  height: 0.12rem;
  width: 100%;
  background: linear-gradient(90deg, #1e2218 0%, #4c5446 49%, #052f26 100%);
  animation: moveleft 1.8s infinite;
  z-index: 2;
}

.services__plans-container-img {
  background-position: center;
  background-repeat: no-repeat;
  height: calc(10vh + 1rem);
  width: 100%;
  padding: 0.2rem;
  border: none;
}

.services__plans-container .plans__image-1 {
  background-color: aquamarine;
  overflow: hidden;
  z-index: 1;
}

.services__plans-container .plans__image-2 {
  background-color: aquamarine;
}

.services .plans-container-active {
  opacity: 1;
  transform: translateX(-0.35rem);
  transition: all 2s ease-in-out;
}

.connect {
  grid-column: container-start/ container-end;
  grid-row: row-start 2 / row-end 2;
  height: 400px;
  background-color: aquamarine;
}

.aboutUs {
  grid-column: container-start / container-end;
  grid-row: row-start 3 / row-end 3;
  height: 400px;
  background-color: burlywood;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveright {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@keyframes moveleft {
  from {
    right: -100%;
  }
  to {
    right: 100%;
  }
}
/*# sourceMappingURL=login.css.map */